/* *{
  border: 1px black dashed;
} */

body{
  margin: 0;
}
.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

ul{
  list-style-type: none;
}

/* START OF HEADER SECTION */
.header{
  background-color: #60a5fa;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-column: 2/3;
  height: 200px;
}

.profileHeader{
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.pHeadLeft{
  margin: 0;
}

.pHeadRight ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

/* START OF SIDEBAR SECTION*/
.sidebar{
  color: #efefef;
  background-color: #5a5a5a;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/4;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

/* START OF MAIN SECTION */
.main{
  display: grid;
}
.projects{
  background-color: #a3e635;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
  height: 100vh;
}
.card{
  background-color: azure;
  height: 200px;
}

.news{
  grid-column: 3/4;
  grid-row: 1/4;
  min-width: 20vh;
  max-width: 20vh;
}